useDynLib(qrng, .registration = TRUE)


### Imports ####################################################################


### Exports ####################################################################

export("korobov",
       "ghalton")
