useDynLib(qrng, .registration = TRUE)


### Imports ####################################################################

importFrom("methods", "hasArg")
importFrom("randtoolbox", sobol)
importFrom("utils", "tail", "packageVersion")
importFrom("copula", "cCopula", "indepCopula")
importFrom("stats", "quantile")


### Exports ####################################################################

export("korobov", "ghalton", "sobol",
       "to_array",
       "sum_of_squares", "sobol_g", "exceedance")
